.right_block {
  width: 300px;
  height: 100%;
  /* position: absolute;
  right: 0px;
  top: 0px; */
  border-left: 7px double brown;
}
.contents {
  padding: 0 30px;
  margin: 60px auto;
}
.text1 {
  width: 870px;
  border: dashed 1px #ccc;
  padding: 0px 15px;
}
#mainimg {
  width: 870px;
  margin-top: 25px;
}
.text1 > p {
  font-size: 19px;
}
.p_title {
  font-size: 24px;
}
