/* @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); */
#index  a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  /* background-color: blue; */
  display: block;
  padding-bottom: 7px;
  font-weight: bold;
}

#index {
  list-style-type: square;
  margin: 50px auto;
  border: 1px dashed black;
  /* border-style: dashed; */

}
#index li {
  font-size: 20px;
}
h1  span  a {
  text-decoration: none;
  color: black;
  font-size: 45px;
  /* font-family: 'Jeju Gothic', sans-serif; */
}
h1 {
  margin: 0;
  text-align: center;
  /* border-bottom: 3px solid brown; */
  padding: 30px 100px;
  background-color: brown;

}
span {
  background-color: white;
  padding: 43px 50px 32px 50px;
  border: dashed 1px black; box-sizing:border-box;
}
.grid {
  display: grid;
  grid-template-columns: 300px auto 300px;
  /* position: relative;
  left: 0px;
  top: 0px; */


  /* grid-template-areas:
  "list list list contents" */
}
.list {
  padding-right: 35px;
  padding-left: 15px;
  border-right: 7px double brown;

}
.right_block {
  width: 300px;
  height: 100%;
  /* position: absolute;
  right: 0px;
  top: 0px; */
  border-left: 7px double brown;
}
.contents {
  padding: 0 30px;
  margin: 60px auto;
}
.text1 {
  width: 870px;
}
#mainimg {
  width: 870px;
  margin-top: 25px;
}
.text1 > p {
  font-size: 19px;
}
.p_title {
  font-size: 24px;
}
