.contents {
  margin: 80px 180px 80px 90px;

}
.grid2 {
  display: grid;
  grid-template-columns: 230px auto;
  grid-column-gap: 30px;
  margin-bottom: 70px;
  border: dashed 3px brown;
}
.info {
  font-size: 17px;
  margin-top: 35px;
  margin-bottom: 0;
}
.info p {
  width: 800px;
  margin-top: 3px;
  margin-bottom: 15px;
}
.recommendation , .comments {
  margin: 50px 0px;
  border: dashed 1px #ccc;
  padding: 10px 15px;
}
/* .recommendation p {
  width: 1155px;
}
.comments p {
  width: 1155px;
} */
